<section id="main-content">
    <section class="wrapper site-min-height">
      <div class="row">
        <div class="col-md" style="margin-left:20px; margin-right:20px;">
<!--End About Me-->
<!--Start My Skills-->
<div class="myskills" id="b">
    <div class="container">
        <div class="skills">
            <h2>My skills</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, porro Corporis doloremque deserunt quisquam culpa sequi quidem iusto. Dolorem non voluptatum odit id quibusdam incidunt ducimus.<br> <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, retatis assumenda, doloremque a delectus. Perspiciatis repe magni eaque nostrum dolor.</p>
            <button type="button" value="contact me">contact Me</button>
        </div>
        <div class="progress">
            <div class="technique">
                <h2>photoshop:</h2>
                <div>
                    <span style="width:83%">83%&nbsp;</span>
                </div>
            </div>

            <div class="technique">
                <h2>html/css:</h2>
                <div>
                    <span style="width:90%">90%&nbsp;</span>
                </div>
            </div>

            <div class="technique">
                <h2>Illistrator:</h2>
                <div>
                    <span style="width:55%">55%&nbsp;</span>
                </div>
            </div>

            <div class="technique">
                <h2>javascript:</h2>
                <div>
                    <span style="width:80%">80%&nbsp;</span>
                </div>
            </div>

        </div>
    </div>
</div>
<!--End My Skills-->
<!--Start Resume-->
<div class="myresume" id="c">
<div class="container">
    <h2>my Resume</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.dolor.</p>
    <button type="button" value="download resume">Download Resume</button>
</div>
</div>
<!--End Resume-->
<!--Start My Education-->
<div class="myeducation">
<div class="container">
    <div class="main">
        <h2>My Education</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, porro? Corporis doloremque deserunt quisquam culpa sequi quidem iusto. Dolorem non voluptatum odit id quibusdam incidunt ducimus magni eaque nostrum dolor.</p>
    </div>
    <div class="exp">
        <h2>graphic design diploma:</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, porro? Corporis dolor</p>
        <hr>
        <h2>cit diploma:</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, porro? Corporis dolor</p>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="main">
        <h2>My Experience</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, porro? Corporis doloremque deserunt quisquam culpa sequi quidem iusto. Dolorem non voluptatum odit id quibusdam incidunt ducimus magni eaque nostrum dolor.</p>
    </div>
    <div class="exp">
        <h2>junior web designer:</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, porro? Corporis dolor</p>
        <hr>
        <h2>senior web designer:</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, porro? Corporis dolor</p>
        <hr>
        <h2>junior web developer:</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, porro? Corporis dolor</p>
        <hr>
        <h2>senior web developer:</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, porro? Corporis dolor</p>
        <hr>
        <h2>full stack developer:</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, porro? Corporis dolor</p>               
    </div>
</div>
</div>
<!--End My Education-->
</div>
</div>
</section>
</section>
